In [1]:
# ---------------------------------------------
# LOAD PHASE â€“ DSA 2040A LAB 5
# ---------------------------------------------
import pandas as pd
import sqlite3
import os

# Define folder paths
base_dir = r"C:\Users\USER\Desktop\Data Warehousing\midsem"
transformed_dir = os.path.join(base_dir, "transformed")
loaded_dir = os.path.join(base_dir, "loaded")

# Ensure the loaded folder exists
os.makedirs(loaded_dir, exist_ok=True)

print("âœ… Environment ready. Folders verified.")

âœ… Environment ready. Folders verified.

In [2]:
# Load transformed datasets
full_path = os.path.join(transformed_dir, "transformed_full.csv")
incremental_path = os.path.join(transformed_dir, "transformed_incremental.csv")

df_full = pd.read_csv(full_path)
df_incremental = pd.read_csv(incremental_path)

print(f"Full dataset: {len(df_full)} rows")
print(f"Incremental dataset: {len(df_incremental)} rows")

display(df_full.head())

Full dataset: 9000 rows
Incremental dataset: 4271 rows

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalValue,Month,Year,CustomerType
0,489446,22356,"CHARLOTTE BAG , PINK/WHITE SPOTS",10,2009-12-01 10:06:00,0.85,13758.0,United Kingdom,8.50,12,2009,Registered
1,489446,21590,KINGS CHOICE CIGAR BOX MATCHES,24,2009-12-01 10:06:00,1.25,13758.0,United Kingdom,30.00,12,2009,Registered
2,489522,21888,BINGO SET,3,2009-12-01 11:45:00,3.75,15998.0,United Kingdom,11.25,12,2009,Registered
3,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom,0.85,12,2009,Registered
4,489526,22077,6 RIBBONS RUSTIC CHARM,12,2009-12-01 11:50:00,1.65,12533.0,Germany,19.80,12,2009,Registered

In [3]:
# ---------------------------------------------
# LOAD INTO SQLITE DATABASE
# ---------------------------------------------
db_path = os.path.join(loaded_dir, "full_data.db")
conn = sqlite3.connect(db_path)

# Save both datasets to SQLite
df_full.to_sql('full_data', conn, if_exists='replace', index=False)
df_incremental.to_sql('incremental_data', conn, if_exists='replace', index=False)

print("ðŸ’¾ Data successfully loaded into SQLite database.")

ðŸ’¾ Data successfully loaded into SQLite database.

In [4]:
# Verify: Read sample rows from each table
print("\nFull Data Sample:")
display(pd.read_sql("SELECT * FROM full_data LIMIT 5;", conn))

print("\nIncremental Data Sample:")
display(pd.read_sql("SELECT * FROM incremental_data LIMIT 5;", conn))

# Confirm record counts
count_full = pd.read_sql("SELECT COUNT(*) as Total FROM full_data;", conn).iloc[0, 0]
count_inc = pd.read_sql("SELECT COUNT(*) as Total FROM incremental_data;", conn).iloc[0, 0]

print(f"\nVerification âœ…\nFull Data Rows: {count_full}\nIncremental Data Rows: {count_inc}")
conn.close()

Full Data Sample:

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalValue,Month,Year,CustomerType
0,489446,22356,"CHARLOTTE BAG , PINK/WHITE SPOTS",10,2009-12-01 10:06:00,0.85,13758.0,United Kingdom,8.50,12,2009,Registered
1,489446,21590,KINGS CHOICE CIGAR BOX MATCHES,24,2009-12-01 10:06:00,1.25,13758.0,United Kingdom,30.00,12,2009,Registered
2,489522,21888,BINGO SET,3,2009-12-01 11:45:00,3.75,15998.0,United Kingdom,11.25,12,2009,Registered
3,489525,85227,SET/6 3D KIT CARDS FOR KIDS,1,2009-12-01 11:49:00,0.85,NaN,United Kingdom,0.85,12,2009,Registered
4,489526,22077,6 RIBBONS RUSTIC CHARM,12,2009-12-01 11:50:00,1.65,12533.0,Germany,19.80,12,2009,Registered

Incremental Data Sample:

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,TotalValue,Month,Year,CustomerType
0,C540006,21306,SET/4 DAISY MIRROR MAGNETS,-1,2011-01-04 10:48:00,2.10,14606.0,United Kingdom,-2.1,1,2011,Registered
1,540013,84991,60 TEATIME FAIRY CAKE CASES,4,2011-01-04 11:30:00,0.55,16255.0,United Kingdom,2.2,1,2011,Registered
2,540014,22385,JUMBO BAG SPACEBOY DESIGN,2,2011-01-04 11:34:00,1.95,14606.0,United Kingdom,3.9,1,2011,Registered
3,540015,79321,CHILLI LIGHTS,4,2011-01-04 11:40:00,4.95,13319.0,United Kingdom,19.8,1,2011,Registered
4,540017,22511,RETROSPOT BABUSHKA DOORSTOP,8,2011-01-04 11:48:00,1.25,13963.0,United Kingdom,10.0,1,2011,Registered

Verification âœ…
Full Data Rows: 9000
Incremental Data Rows: 4271

ImportError: Unable to find a usable engine; tried using: 'pyarrow', 'fastparquet'.
A suitable version of pyarrow or fastparquet is required for parquet support.
Trying to import the above resulted in these errors:
 - Missing optional dependency 'pyarrow'. pyarrow is required for parquet support. Use pip or conda to install pyarrow.
 - Missing optional dependency 'fastparquet'. fastparquet is required for parquet support. Use pip or conda to install fastparquet.